<header class="jumbotron jumbotron-fluid bg-maroon">
  <div class="container">
    <h1>Welcome to Myriad, {{email}}!</h1>
    <ul class="nav">
      <li class="nav-item">
        <a id="checkIn" class="nav-link text-warning" href="#">Daily Check-in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</header>

<div class="container">

  <div class="row bg-light border rounded p-4 w-85 mx-auto">
    {{> grid/week}}
  </div>

  <div id="dayModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content p-4">
      <span id="class" class="close">&times;</span>
      <p>{{> forms/symptoms}}</p>
    </div>
  </div>
  <!-- connect to js -->
  <script src="/js/userhome.js"></script>