<header class="jumbotron jumbotron-fluid bg-maroon">
  <div class="container">
    <h1 class="display-4">Welcome to Myriad, {{email}}</h1>

    <h5>Please remember to fill out your daily check-in.</h5>

    <h2><a class="logout" href="/logout">Logout</a></h2>
  </div>
</header>


<div class="container">

  {{!-- daily check in form --}}
  {{!-- TODO place form within modal or other page --}}
  <div class="row">
    <div class="col-7 mb-5">
      {{!-- add the below to add the form to the page --}}
      {{> forms/symptoms}}
    </div>
  </div>
  <hr>
  {{!-- end of form --}}

  <div class="row">
    <div class="col">
      {{> grid/history}}
    </div>
  </div>
</div>