/* Maroon colors */
body {
  
  background-color: #5a464c; 
}
#createdAt {
  height: 51px;
}
.mood {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #fcfafa;
}
.bg-maroon {
  background-color: maroon;
  color: #fcfafa;
}

.border-maroon {
  border-left: 1px solid maroon;
}
#symptom_table {
  background-color: #fcfafa;
  border-collapse: collapse;
}#symptomData {
  border-collapse: collapse;
}
table,
th,
td {
  height: 30px;
  border: 1px solid maroon;
  border-collapse: collapse;
}

/* background color for symptoms reported as true */
.true {
  background-color: cyan;
}

/* if we want a specific bg color for false */
/* .false {
  background-color: ;
} */
