/* Maroon colors */
.bg-maroon {
  background-color: maroon;
  color: white;
}

.border-maroon {
  border-left: 1px solid maroon;
}
.month-grid {
  height: 60px;
  width:  540px;
  display: flex;
  flex-wrap: wrap;
  float: right;
}
.day-grid {
  padding-top: 20px;
  height: 60px;
  width:  930px;
  display: flex;
  flex-wrap: wrap;
}
.symptom-grid {
  height: 220px;
  width:  120px;
  display: flex;
  flex-wrap: wrap;
  float: right;
}
.month {
  height: 30px;
  width: 90px;
  border: 1px solid black;
}
.day {
  height: 30px;
  width:30px;
  border: 1px solid black;
}
.symptom {
  height: 30px;
  width: 120px;
  border: 1px solid black;

}

