/* Maroon colors */
.bg-maroon {
  background-color: maroon;
  color: white;
}

.border-maroon {
  border-left: 1px solid maroon;
}

table,
th,
td {
  height: 30px;
  border: 1px solid maroon;
  border-collapse: collapse;
}

/* background color for symptoms reported as true */
.true {
  background-color: cyan;
}

/* if we want a specific bg color for false */
/* .false {
  background-color: ;
} */
